<div class="button-container">
  <button mat-raised-button color="primary" class="top-button" (click)="emitButtonClick('Erhaltene Bestellungen')">
    <div class="button-content">
      Erhaltene Bestellungen
    </div>
  </button>
  <button mat-raised-button color="primary" class="top-button" (click)="emitButtonClick('Bestellung in Bearbeitung')">
    <div class="button-content">
      Bestellung in Bearbeitung
    </div>
  </button>
  <button mat-raised-button color="primary" class="top-button" (click)="emitButtonClick('Alle Bestellungen')">
    <div class="button-content">
      Alle Bestellungen
    </div>
  </button>
</div>

