<div>
  <mat-card>
    <mat-card-title> Willkommen </mat-card-title>
    <mat-card-content>
      <form>
        <button (click)="toOrder()" mat-raised-button color="primary" class="login-button">Als Gast Bestellen</button>
        <button (click)="toLogin()" mat-raised-button color="primary" class="login-button">Login</button>
        <button (click)="toRegister()" mat-raised-button color="primary" class="login-button">Registrieren</button>
      </form>
      <img src="../assets/cats/LogoCatt.png" alt="logo">
    </mat-card-content>
  </mat-card>
</div>
